<html>
<head>
<title>Hello</title>
<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
<h1>{{ script.basename}}</h1>



{% for patternimg in patternimage_list %}

{{ patternimg.basename }}

<img src="{{ STATIC_URL }}{{ patternimg.url }}"/>

{% endfor %}

{{ script.highlighted_text|safe }}

<form action="/scripts/{{ script.id }}/update/" method="post">
{% csrf_token %}

<input type="text" name="title" value="{{ script.title}}" maxlength="100" />


<input type="submit" value="update" />
</form>

</body>
</html>


